#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.layout {
  display: flex;
  align-items: flex-start;
  gap: 32px;
  margin-top: 20px;
}

.left {
  flex: 0 0 320px;
}

.right {
  flex: 1 0 320px;
}

.right>*:first-child {
  margin-bottom: 16px;
}
